.presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}
@media screen and (max-width:600px){
    .presentation{
        flex-direction: column;
    }
    
}